.text-shadow{
  font-style: italic;
}
.text-shadow{
  text-decoration: underline;
}
.text-shadow{
  text-shadow: 1px 2px 2px rgb(225, 134, 134) ;
  font-weight: 100;
}
.letter-spacing{
  letter-spacing:5px;
  line-height: 2;
}
.center-align{
  text-align: center;
}
.line-through{
  text-decoration: line-through;
}
.line{
  font-size: 20px;
  font-weight: bold;
  line-height: 2;
}
.typography{
  font-weight: lighter;
  font-style: italic;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: underline;
  line-height: 2;}

.welcome{
  font-size: 45px;
  font-weight: 300;


}
.body{
  font-weight: lighter;
}